table {
    border-collapse: collapse;
    width: 50%;
    margin: 200px auto;
  }
  
  th,
  td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }
  
  thead {
    background-color: #303e7c;
    color: #ffffff;
  }
  
  tbody tr:hover {
    background-color: #ffffff !important;
    color: #7578a7;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  tbody tr:nth-child(even) {
    background-color: #daddfb;
  }
  tbody tr:nth-child(odd) {
    background-color: #aeb1f0;
  }
  
  tfoot {
    background-color: #303e7c;
    color: #fff;
  }