body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe {
    margin: 20px;
    text-align: center;
}

.recipe-image {
    max-width: 100%; /* Garante que as imagens não excedam o tamanho do recipiente */
    width: 300px; /* Defina a largura desejada para as imagens */
    height: auto; /* Mantém a proporção de aspecto da imagem */
}

.recipe-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}